<h1>My tasks</h1>
<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= check_box_tag 'completed', 1, task.completed, disabled: true %>
      <%= link_to task.title, task_path(task) %>
      <%= link_to "ðŸ—‘ï¸", task_path(task),:method => 'delete' %>
    </li>
  <% end %>
</ul>
<%= link_to "new task", new_task_path %>
